$base-color: #00416A; 
.ProfileMainCard{
    padding: 1rem;
    text-align: center;

}
.container{
   // padding: 1rem;
}

.Home {
    background:  #00416A;/* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E4E5E6, #00416A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E4E5E6, #00416A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.Profile{
    text-align: center;
}
.Tagline{
    font-size: 3rem;
    color: burlywood;
    font-style: italic;
    font-weight: bolder;
}
.description{
    font-size: 2rem;
    color: bisque;
    font-style: italic;
    font-weight: bolder;
}
.links{
    color: white;
    padding: 0.2rem;
}

.links:hover{
    color: gray;
    padding: 0.2rem;
}